<div class="row">
  <div class="col-12">
    <img [src]="labelSrc" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="zpl_wrapper">
      <textarea rows="4" cols="50">    {{ zpl }}    </textarea>
    </div>
  </div>
</div>
